{% extends 'base.html.twig' %}


{% block body %}
<section ng-controller="mailbundleCtrl">
<h3>Mail-box :</h3>
La boite aux lettres contient {{oInfo.Nmsgs}} message(s) dont  {{oInfo.Recent}} recent(s).
<ul>
	<li ng-repeat="oMail in aMails">
		<a href="/mailbox/mail-{{'{{oMail.uid}}'}}">{{'{{oMail.uid}}'}}</a> - {{ '{{oMail.from}}' }} ) {{ '{{oMail.subject}}' }} {{ '{{oMail.date}}' }}
	</li>
</ul>
</section>

<script>
	var ngApp = angular.module('ngApp', []);

	ngApp.controller('mailbundleCtrl', function ($scope) {
		$scope.aMails = {% autoescape false %}{{ sMails }}{% endautoescape %};
	});

</script>

{% endblock %}
